<h3 class="text-xl font-medium mb-4 text-gray-800">Login with Email Code</h3>
<p class="text-gray-600 mb-4">Enter the 7-digit code sent to your email.</p>
<%= form_with url: employers_sessions_verify_code_path, scope: :employer, local: false do |f| %>
  <%= f.hidden_field :email, value: email %>
  <div class="mb-4">
    <%= f.label :code, 'Code', class: "block text-gray-700" %>
    <%= f.text_field :code, required: true, class: "mt-1 block w-full border border-gray-300 rounded-md p-2" %>
  </div>
  <%= f.submit 'Sign in', class: "w-full inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-full text-white bg-amber-900 hover:bg-amber-700 transition-colors duration-300" %>
<% end %>
