<h3 class="text-xl font-medium mb-4 text-gray-800">Login with Email & Password</h3>
<%= form_with url: employer_session_path, scope: :employer, local: false do |f| %>
  <%= f.hidden_field :email, value: email %>
  <div class="mb-4">
    <%= f.label :password, class: "block text-gray-700" %>
    <%= f.password_field :password, required: true, class: "mt-1 block w-full border border-gray-300 rounded-md p-2" %>
  </div>
  <div class="flex items-center justify-between mb-6">
    <div class="flex items-center">
      <!--  <%= f.check_box :remember_me %> -->
      <!-- <%= f.label :remember_me, class: "ml-2 text-gray-600" %>  -->
    </div>
  </div>
  <%= f.submit 'Sign in', class: "w-full inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-full text-white bg-amber-900 hover:bg-amber-700 transition-colors duration-300" %>
<% end %>

<div class="flex justify-center mt-4">
  <%= form_with url: employers_sessions_forgot_password_path, scope: :employer, local: false, class: "inline" do |f| %>
    <%= f.hidden_field :email, value: email, id: nil %>
    <%= f.button type: "submit", class: "text-amber-900 underline hover:text-amber-700 relative group bg-transparent border-none cursor-pointer", title: "Log in using the email code and then change your password in the dashboard" do %>
      Forgot password?
    <% end %>
  <% end %>
</div>
