<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "DrillCrew" %></title>
    <%= favicon_link_tag  %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
  <% if flash[:impersonation].present? %>
    <div class="relative bg-yellow-100 border border-yellow-400 text-yellow-800 p-3 text-center">
      <span class="absolute top-0 right-0 px-2 py-1 cursor-pointer" onclick="this.parentElement.style.display='none'">&times;</span>
      <%= flash[:impersonation].html_safe %>
    </div>
  <% end %>

  <% if notice.present? %>
    <div class="relative bg-green-100 border border-green-400 text-green-800 p-2 rounded-md text-center">
      <span class="absolute top-0 right-0 px-2 py-1 cursor-pointer" onclick="this.parentElement.style.display='none'">&times;</span>
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="relative bg-red-100 border border-red-400 text-red-800 p-2 rounded-md text-center">
      <span class="absolute top-0 right-0 px-2 py-1 cursor-pointer" onclick="this.parentElement.style.display='none'">&times;</span>
      <%= alert %>
    </div>
  <% end %>
  <%= render partial: "commons/header" %>
  <main class="flex-grow">
    <%= yield %>
  </main>

  <%= render partial: "commons/cookie_notice" %>
  <%= render partial: "commons/footer" %>
  </body>
</html>
